*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
body{
    
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #1F6E72, #C5DFBA);
    overflow-x: hidden;
  }

.navigation a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: larger;
    padding-left: 20px;
}
.navigation a:hover{
    color:#601cfc;
}
.main h3{
    padding: 10px 30px ;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.main {
    align-items: center;
    text-align: center;
}

.img{
    padding: 0px 30px;
    transition: 0.7s ease;
}
.img:hover{
    transform: scale(1.1);
}
.para{
    padding: 10px;
    font-weight: 600;
}
span{
    color: white;
}

.maintitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    padding-bottom: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.maintitle:hover {
    display: flex;
    color: #fff;
    transition: all 1s ease;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
#menuicon {
  float: left ;
  color: aliceblue;
  margin-left: 6px;
  margin-top: 10px;
  }
  .mainbar {
    background-color: black;
    overflow: hidden;
    font-family: droidLight ,arial ;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
  }
.content {
  margin-top: 85px ;
}
#login {
  float: right;
  color:snow;
  font-size: large;
  margin-top: 23px;
  text-decoration: none;
}
.mainbar input[type=text] {
  float: right;
  border: 1px snow;
  margin-top: 19px;
  margin-bottom: 20px;
  margin-left: 4px;
  font-size: 12px;
  height:29px;
}
.mainbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 18px;
  margin-right: 16px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.mainbar .search-container button:hover {
  background: #ccc;
}
.logo {
  position: absolute;
  left: 45%;
   
}

footer {
  background: #303036;
  color: #d3d3d3;
  height: 300px;
  position: absolute ;
  bottom: -1200px;
  width: 100vw;
  align-items: center;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 100px;
  width: 100vw;
}

.footer-signature {
  text-align: center;
  padding-top: 20px;
  margin-right: 50px;
  width: 100vw;
  height: 40px;
}

#footer-logo {
  top: 0;
}
.links {
  padding: 20px;
  background-color: #303036;
  direction: ltr;
}
.links a {
  text-decoration: none;
}
.list {
    padding: 5px;
    font-size: 20px;
    background-color: #303036;
    color: #fff;
    direction: ltr;
}
.list:hover {
    font-weight: bold;
}
.socials {
  background-color: #303036;
  padding: 20px;
  margin-left: 40px;
}
#socials-icon {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: #303036;
    color: white;
}
